body {
    font-family: 'Open Sans', sans-serif;
}

.search-container {
    margin-top: 25px;
    background-image: url('../Images/music-background.jpg');
    min-height: 650px;
    background-size: cover;
    border-radius: 4px;
}

    .search-container h1 {
        color: #fff;
        margin: 100px 0 80px 0;
        font-size: 48px;
        font-weight: 600;
    }

.btn-search {
    font-size: 30px;
}

.category-container {
    margin-top: 100px;
}

.category-btn {
    color: #fff;
    display: block;
    text-align: center;
    margin: 10px;
    transition: .3s ease;
    border: 1px solid #fff;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
}

    .category-btn:hover, .category-btn:focus {
        color: #f7d934;
        border-color: #f7d934;
        border-radius: 24px;
    }

.category-box h1 {
    padding: 0 45px;
}

.category-box .see-all-link {
    font-size: 22px;
    color: #959595;
    margin-top: 20px;
}

.category-box {
    border: 1px solid #c3c3c3;
}

.event-container {
}

    .event-container h4 {
        padding: 6px;
    }

    .event-container p {
        padding: 6px;
        position: absolute;
        top: 65%;
        color: #959595;
    }

    .event-container a {
        margin: 0 6px;
        color: #0b0a0a;
        display: block;
        margin-top: 10px;
        position: absolute;
        top: 82%;
        text-decoration: underline;
        font-weight: 600;
    }

    .event-container img {
    }

    .event-container hr {
        width: 100%;
        background-color: #c3c3c3;
        height: 1px;
        margin: 0;
        position: absolute;
        top: 80%;
    }

.event-wrapper {
    border: 2px solid #808080;
    min-height: 250px;
    color: #0b0a0a;
    position: relative;
    margin-bottom: 15px;
}

    .event-wrapper:hover {
        background-color: #0b0a0a;
        transition: .3s;
        color: #f7d934;
    }

        .event-wrapper:hover a,
        .event-wrapper:hover p {
            color: #f7d934;
        }